/* AboutSec.css */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

.bitcount-grid-double {
  font-family: 'Bitcount Grid Double', system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'CRSV' 0.5,
    'ELSH' 0,
    'ELXP' 0;
}
